.Header {
  background-color: #000000;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px 0px 40px;
  color:#ffffff;

  .left-menu-wrapper {
    width:500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .logo {
      width:110px
    }
    .home {
    }
    .tv-program {
    }
    .movie {
    }
    .newest-contents {
    }
    .my-contents {
    }
  }

  .right-menu-wrapper {
    width:230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    .search {
    }
    .kidz {
    }
    .present {
    }
    .notice {
    }
    .setting-nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      img {
        width:35px;
      }
    }
  }

}