.ClassifiedContentsList {
  display: flex;
  flex-direction: column;
  margin-left: 55px;

  .contents-title {
    font-size: 25px;
    color:#ffffff;
    text-align: left;
    margin-bottom: 10px;
  }
  .contents-item-wrapper {
    display: flex;
    flex-direction: row;
    width: 1500px;

    .item {
      margin-right: 8px;
    }
  }
}